<article class="post grid grid-cols-1 lg:grid-cols-[1fr_min(theme(maxWidth.3xl),100%)_1fr]">
  <header class="text-center margin-p pb-8">
    <h2 class="text-header text-xl md:text-2xl !mt-0 !mb-2">
      <%= page.title %>
    </h2>
    <div>
      <% 
        const locale = page.lang || config.language || 'en';
        const dateStr = new Date(page.date).toLocaleDateString(locale, {
          weekday: "long",
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        }); 
      %>
      <%= config.author %> - <%= dateStr %>
    </div>
  </header>

  <% if (page.thumbnail) { %>
  <img class="margin-p col-span-full" src="<%= url_for(page.thumbnail) %>" alt="Thumbnail" />
  <% } %>

  <%- page.content %>
</article>
