<!DOCTYPE html>
<html lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body class="relative text-base leading-[1.75] bg-[#111111] flex flex-col justify-center items-center">
        <%- partial('_partial/header') %>
        <div class="relative flex-1 flex flex-col w-full max-w-6xl py-6 md:py-12 px-8 xl:px-6">
            <%- body %>
        </div>
        <%- partial('_partial/footer') %>
    </body>
</html>