<article class="post grid grid-cols-1 lg:grid-cols-[1fr_min(theme(maxWidth.3xl),100%)_1fr]">
  <header>
    <h2 class="text-header text-xl md:text-2xl <%= page.externalLinks ? 'mb-4' : '' %>">
      <%= page.title %>
    </h2>
    <% if (page.externalLinks) { %>
    <div class="mb-4">
      <% page.externalLinks.forEach(function(link) { %>
        <a href="<%= link.url %>"
          class="bg-primary text-white px-3 py-1.5 rounded-full no-underline mr-2"
          target="_blank">
          <% if (link.isBrand) { %>
              <i class="fab fa-<%= link.icon %> mr-1"></i>
          <% } else { %>
              <i class="fa fa-<%= link.icon %> mr-1"></i>
          <% } %>
          <%= link.text %>
        </a>
      <% }) %>
    </div>
    <% } %>

    <% if (page.excerpt) { %>
      <%- page.excerpt %>
    <% } %>

    <div class="margin-p">
      <div class="font-bold"><%= __('tags') %></div>
      <% if (page.tags) { %>
        <% page.tags.each((tag, i) => { %>
          <a href="<%= i18n_url(tag.path) %>" rel="tag"><%= tag.name %><%= i < page.tags.length - 1 ? ',' : '' %></a>
        <% }) %>
      <% } else { %>
        No Tag
      <% } %>
    </div>
  </header>

  <% if (page.thumbnail) { %>
  <img class="margin-p col-span-full" src="<%= url_for(page.thumbnail) %>" alt="Thumbnail" />
  <% } %>

  <% if (page.excerpt) { %>
    <%- page.more %>
  <% } else { %>
    <%- page.content %>
  <% } %>
</article>
